html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: linear-gradient(90deg, rgb(178, 178, 178) 1%, rgb(135, 134, 134) 41%, #c5c5c5 97%); */
   /* background: 'white' */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
